{% extends 'base.html.twig' %}

{% block title %}Détail de l'évènement{% endblock %}

{% block body %}
    <h1>Détail de : {{event.nameEvent}}</h1>
   
    <p>
    Nom : {{event.nameEvent}} <br> 
    Date : {{event.dateHourEvent| date('d-m-Y') }} <br>
    Durée : {{event.durationEvent|  date('h:i')}} <br> 
    Le lieu : {{event.place.namePlace}} <br> 
    Nombre maximum de participant : {{event.maxNbRegistrantEvent}} <br> 
    Langue : {{event.language.nameLanguage}} <br> 
    Information complémentaire : {{event.descriptionGameEvent}}<br>
    {# Nombre de participant : {{event.usersAttendees}} <br>  
    Nom de l'auteur : {{event.userCreator}} <br>   #}
    {# Photo de l'évènement : {{event.pictureEvent}} <br>   #}
    <a class='btn' href="">S'inscrire</a>
    </p>
  

{% endblock %}