{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header>
    <figure>
        <img src="{{ asset('img/friendsAroundTable.jpg')}}" alt="Amis jouant autour d'une table">
    </figure> 
</header>

    <p> WordIn ce sont des évènements autour d'une seule passion : apprendre une langue en s'amusant!<br>
    Tu peux créer un évènement en choisissant un lieu, une langue, un jeu, une date et une durée ou t'inscrire sur un déjà planifier!</p>
  

    <h1>Les évènements</h1>
    <figure>
        <img src="{{ asset('img/calendrier.jpg')}}" alt="Image d'un calendrier cliquable">
    </figure>
    <h1>Les lieux</h1>
    <figure>
        <img src="{{ asset('img/lartichaut.jpeg')}}" alt="Image façade café L'artichaut">
    </figure> 

    <figure>
        <img src="{{ asset('img/philibar.jpg')}}" alt="Image façade café Philibar">
    </figure> 
  
    <figure>
        <img src="{{ asset('img/wxyz.jpg')}}" alt="Image façade café Wxyz">
    </figure>





<main>
    
  
    
    


</main>
<footer>

</footer>
{% endblock %}
